# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
import numpy as np
import pandas as pd
import csv

In [2]:
recipes = pd.read_csv("/content/csv файлы/recipes_sample.csv",delimiter=',')

In [3]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [5]:
reviews = pd.read_csv("/content/csv файлы/reviews_sample.csv",delimiter=',')

In [6]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [7]:
recipes.info

<bound method DataFrame.info of                                                name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]>

In [8]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [9]:
reviews.info

<bound method DataFrame.info of        Unnamed: 0     user_id  recipe_id        date  rating  \
0          370476       21752      57993  2003-05-01       5
1          624300      431813     142201  2007-09-16       5
2          187037      400708     252013  2008-01-10       4
3          706134  2001852463     404716  2017-12-11       5
4          312179       95810     129396  2008-03-14       5
...           ...         ...        ...         ...     ...
59810     1095745       99800      68554  2005-01-23       5
59811      886254       27395      35615  2002-08-05       5
59812     1082607      926775     339188  2009-12-10       4
59813       57820     2035846     212521  2011-10-16       5
59814        2501       37691      26790  2003-01-20       1

                                                  review
0      Last week whole sides of frozen salmon fillet ...
1      So simple and so tasty!  I used a yellow capsi...
2      Very nice breakfast HH, easy to make and yummy...
3      These are a favorite for the holidays and so e...
4      Excellent soup!  The tomato flavor is just gre...
...                                                  ...
59810  This recipe has great flavor. Although I did e...
59811  M&Mers, this bread is FABULOUS!!! I followed y...
59812  This was very simple and pretty good.  I will ...
59813  Holy Cow! Didn't have to change anything. Comp...
59814  This is not like the pralines I had years ago....

[59815 rows x 6 columns]>

In [10]:
reviews.dtypes

Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [11]:
recipes.isnull().sum()

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [12]:
(11190 + 623 + 8880)/30000

0.6897666666666666

In [13]:
reviews.isnull().sum()

Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        12
dtype: int64

In [14]:
17 / 126696

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [15]:
print(recipes.select_dtypes(['int64', 'float64',]).mean(), '\n')
print(reviews.select_dtypes(['int64', 'float64',]).mean())

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

Unnamed: 0    5.667104e+05
user_id       1.377522e+08
recipe_id     1.598980e+05
rating        4.414628e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [16]:
series = recipes.sample(n = 10)
series

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
18780,noah bedoahs chocolate chip shortbread cookies,322175,75,88272,2008-08-29,16.0,from judy rosenberg's 'rosie's bakery all-butt...,7.0
16946,maple pecan pie bars,258762,50,437974,2007-10-12,13.0,pampered chef recipe.,8.0
29047,warming celery carrot soup,400872,35,1443469,2009-11-23,6.0,"a smooth and creamy soup with just a little ""b...",9.0
24402,skinny portuguese kale and potato soup caldo ...,448886,45,88243,2011-02-16,15.0,a skinny version of a portuguese classic,10.0
20626,pesto pizza with artichokes and prosciutto,71027,55,73836,2003-09-10,8.0,"fragrant and sophisticated, a pesto topping he...",8.0
10325,edmonds scones,98142,20,59064,2004-08-18,NaN,this is the classic nz recipe from the edmonds...,5.0
28512,vanilla coke alcoholic,249052,2,305531,2007-08-27,7.0,an adult version of an old favorite.,NaN
8924,cucumber spinach soup,51965,25,68227,2003-01-21,4.0,this recipe comes from a wonderful book called...,NaN
8258,creamy garlic salad dressing,90317,10,91392,2004-05-01,NaN,"fantastic taste, originally from the paws cook...",6.0
27474,the perfect brown rice risotto,469394,65,2066263,2011-12-04,12.0,"i love brown rice, but i never knew how to get...",7.0

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [17]:
reviews.reindex(range(12696), method = 'ffill')
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [19]:
inf = (recipes['minutes'] <=20) & (recipes['n_ingredients'] <=5)
inf = recipes.loc[inf]
inf.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0

### Работа с датами в `pandas`

In [20]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [22]:
recipes = pd.read_csv('/content/csv файлы/recipes_sample.csv', delimiter = ',')
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [23]:
newrec = (recipes['submitted'] <= '12-31-2010')
newrec = recipes.loc[newrec]
newrec.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [24]:
recipes = recipes.assign(description_length = recipes['description'].str.len())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [25]:
recipes.name = recipes.name.str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [28]:
recipes = recipes.assign(name_word_count = (recipes['name'].str.replace('  ', ' ').str.count(' ')+1))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,namecount,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,9,9
...,...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,6,6
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,8,8

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [29]:
quantity = recipes.contributor_id.value_counts()
print(f'{quantity} \n\nУчастник {quantity.index[0]} добавил максимальное  ({quantity.iloc[0]}) кол-во рецептов')

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64

Участник 89831 добавил максимальное  (421) кол-во рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [30]:
print(reviews.groupby('recipe_id')['rating'].mean(), '\n')
print(reviews.review.isnull().sum())

recipe_id
48        0.000000
55        5.000000
66        4.857143
91        4.666667
94        5.000000
            ...
536360    5.000000
536547    5.000000
536728    4.000000
536729    5.000000
536747    0.000000
Name: rating, Length: 19614, dtype: float64

12

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [31]:
reviews['date'].value_counts()

2008-01-14    45
2008-01-27    45
2009-01-10    44
2008-01-02    44
2009-01-01    43
              ..
2017-10-01     1
2017-12-13     1
2014-05-21     1
2016-03-08     1
2017-12-15     1
Name: date, Length: 6093, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [32]:
new_df = pd.merge(recipes[['id', 'name']], reviews[['recipe_id', 'user_id', 'rating']], 
                  left_on = 'id', right_on = 'recipe_id', how = 'inner').drop(columns = ['recipe_id'])
new_df

           id                                         name   user_id  rating
0       44123        George s at the cove  black bean soup    743566       5
1       44123        George s at the cove  black bean soup     76503       5
2       67664           Healthy for them  yogurt popsicles    494084       5
3       67664           Healthy for them  yogurt popsicles    303445       5
4       67664           Healthy for them  yogurt popsicles     32772       5
...       ...                                          ...       ...     ...
59810  103312  Zwiebelkuchen   southwest german onion cake   2058344       5
59811  103312  Zwiebelkuchen   southwest german onion cake  11344701       4
59812  486161                                  Zydeco soup    226863       5
59813  486161                                  Zydeco soup    498271       5
59814  486161                                  Zydeco soup    305531       5

[59815 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.